<label for="{{id}}">{{title}}</label>
<input type="{{type}}" name="{{name}}" placeholder="{{placeholder}}" class="{{className}}" id="{{id}}" value="{{value}}">
{{#if error}}
    <span class="danger">{{message}}</span>
{{/if}}
